@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@500&display=swap');

* {
    padding: 0 auto;
    margin: 0 auto;
}

body {
    background-color: rgb(0, 53, 53);
    font-family: 'Noto Serif Bengali', serif;
    color: rgb(0, 53, 53);
}

.container {
    /* height: 250px; */
    max-width: 800px;
    padding: 50px;
    background-color: aqua;
    margin-top: 100px;
    border: 5px solid rgb(0, 126, 126);
    border-radius: 15px;
}

.items {
    border: 1px solid black;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.slick-arrow {
    height: 40px;
    width: 40px;
    font-weight:800;
    border: none;
    background-color: rgb(0, 59, 59);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    left: -33px;
    top: 50%;
    margin-top: -50px;
}

.slick-arrow.slick-next {
    left: auto;
    right: -33px;
}

.slick-arrow:hover {
    background-color: white;
    color: rgb(0, 58, 58);
}

ul.slick-dots li button {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 58, 58);
    border: none;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

ul.slick-dots li button:hover {
    background-color: white;
    color: rgb(0, 58, 58);
}



ul.slick-dots {
    display: flex;
    margin-top: 10px;
    margin: 0;
    position: 0;
    list-style: none;
}

.single-testimonial {
    text-align: center;
    padding: 10px;
}

ul.slick-dots li.slick-active button {
    background-color: rgb(0, 24, 183);
}